

/* Media Queries */
@media (max-width: 2550px) and (min-width: 1276px) {
    .basicos h2, .descubrir h2 {
        margin-left: 640px;
    }
    .tarjeta1 {
        margin-right: 600px;
    }
    .columna {
        margin-left: 40px;
    }
}

@media (max-width: 1276px) and (min-width: 1170px) {
    header img {
        margin-left: 155px;
    }
    nav {
        display: flex;
        align-items: center;
        margin-left: 100px;
        margin-right: 420px;
    }
    .header-buttons {
        margin-right: 155px;
    }
    #tipo-viaje-form {
        margin-left: 360px;
        display: flex;
        align-items: stretch;
    }
    #seleccion-viaje {
        width: 950px;
    }
    .anuncio1 img, .anuncio2 img {
        width: 960px;
    }

    .basicos h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 28px;
        font-weight: bold;
        margin-right: 895px;
        margin-left: 0;
    }
   
    .descubrir h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 28px;
        font-weight: bold;
        margin-right: 960px;
        margin-left: 0;
    }

    .tarjeta, .tarjeta0, .tarjeta1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 310px;
        height: 350px;
        background-color: var(--color-azul);
        margin: 0 auto; 
    }
    
    .tarjeta img, .tarjeta0 img, .tarjeta1 img {
        width: 310px;
        height: 220px;
        object-fit: cover;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    
    .tarjeta h3, .tarjeta0 h3, .tarjeta1 h3 {
        color: var(--color-blanco); 
        font-weight: bold;
    }
    
    .tarjeta p, .tarjeta0 p, .tarjeta1 p{
        color: var(--color-blanco); 
        font-weight: bold;
    }
    
    .tarjeta2, .tarjeta3, .tarjeta4 {
        margin-left: auto;
        margin-right: auto;
    }
    
    .tarjeta2 img, .tarjeta3 img, .tarjeta4 img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0em;
        width: 290px;
        height: 140px;
        margin: 0 auto;
    }
    .columna {
        margin-left: 40px;
    }
}

@media (max-width: 1170px) and (min-width: 1024px) {

    .titulo {
        display: none;
    }

    header img {
        margin-left: 230px;
    }
    nav {
        display: flex;
        align-items: right;
        margin-left: 100px;
        margin-right: 150px;
    }
    .header-buttons {
        margin-right: 230px;
    }
    #tipo-viaje-form {
        margin-left: 650px;
        display: flex;
    }
    #seleccion-viaje {
        width: 690px;
    }
    .anuncio1 img {
        width: 700px;
        height: 800px;
    }
    .anuncio2 img {
        width: 700px;
        height: 400px;
    }
    
    .basicos h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 28px;
        font-weight: bold;
        margin-right: 755px;
        margin-left: 0;
    }

    .tarjeta, .tarjeta0, .tarjeta1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 310px;
        height: 350px;
        background-color: var(--color-azul);
        margin: 0 auto; 
    }
    
    .tarjeta img, .tarjeta0 img, .tarjeta1 img {
        width: 310px;
        height: 220px;
        object-fit: cover;
        margin-bottom: 30px;
        margin-top: 10px;
    }
   
    .descubrir h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 28px;
        font-weight: bold;
        margin-right: 820px;
        margin-left: 0;
    }

    .tarjeta2 img, .tarjeta3 img, .tarjeta4 img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 300px;
        height: 170px;
        margin: 0 auto;
    }

    .columna {
        margin-left: 40px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {

    .titulo {
        display: none;
    }

    header img {
        margin-left: 190px;
    }
    nav {
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .header-buttons {
        margin-right: 190px;
    }
    #tipo-viaje-form {
        margin-left: 700px;
        display: flex;
    }
    #seleccion-viaje {
        width: 600px;
    }
    .anuncio1 img {
        width: 650px;
        height: 700px;
    }

    .anuncio2 img {
        width: 650px;
        height: 400px;
    }

    .tarjeta, .tarjeta0, .tarjeta1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 200px;
        height: 360px;
        background-color: var(--color-azul);
        margin: 0 auto; 
    }

    .tarjeta img, .tarjeta0 img, .tarjeta1 img {
        width: 200px;
        height: 220px;
        object-fit: cover;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .basicos h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 28px;
        font-weight: bold;
        margin-right: 500px;
        margin-left: 0;
    }


    .descubrir h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 28px;
        font-weight: bold;
        margin-right: 600px;
        margin-left: 0;
    }


    .tarjeta2 img, .tarjeta3 img, .tarjeta4 img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0em;
        width: 200px;
        height: 130px;
        margin: 0 auto;
    }

    .columna {
        margin-left: 30px;
    }
}

@media (max-width: 768px) and (min-width: 501px) {

    .titulo {
        display: none;
    }


    header img {
        margin-left: 60px;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .header-buttons {
        margin-right: 20px;
    }
    #tipo-viaje-form {
        margin-left: 850px;
        display: flex;
    }
    #seleccion-viaje {
        width: 450px;
    }
    .anuncio1 img {
        width: 450px;
        height: 700px;
    }

    .anuncio2 img {
        width: 450px;
        height: 400px;
    }

    .tarjeta, .tarjeta0, .tarjeta1 {
        border-radius: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 140px;
        height: 380px;
        background-color: var(--color-azul);
        margin: 0 auto; 
    }

    .tarjeta img, .tarjeta0 img, .tarjeta1 img {
        width: 140px;
        height: 220px;
        object-fit: cover;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .basicos h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 28px;
        font-weight: bold;
        margin-right: 260px;
        margin-left: 0;
    }


    .descubrir h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 28px;
        font-weight: bold;
        margin-right: 300px;
        margin-left: 0;
    }


    .tarjeta2 img, .tarjeta3 img, .tarjeta4 img {
        border-radius: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 130px;
        height: 120px;
        margin: 0 ;
    }

    
    .columna {
        font-size: 6px;
        margin-left: 0px;
    }

    .columna2 img {
        height: 10px;
        width: 10px;
    }


    .columna h2, .columna1 h2 {
        color: var(--color-negro);
        font-weight: bold;
        font-size: 8px;
        margin-bottom: 18px;
    }

    .columna1 {
        font-size: 6px;
        margin-left: 0px;
    }

    .columnas2 h2 {
        font-size: 8px;
        margin-left: 0px;
    }
}

@media (max-width: 500px) and (min-width: 0px) {

    .titulo {
        display: none;
    }
    

   

    nav {
        margin-top: 30px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .header-buttons {
        
        margin-right: 30px;
    }
    #tipo-viaje-form {
        margin-left: 1050px;
        display: flex;
    }
    #seleccion-viaje {
        width:300px;
    }
    .anuncio1 img {
        width: 300px;
        height: 600px;
    }

    .anuncio2 img {
        width: 300px;
        height: 300px;
        margin-bottom: 0;
    }

    .tarjeta, .tarjeta0, .tarjeta1 {
        border-radius: 15%;
        font-size: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 100px;
        height: 200px;
        background-color: var(--color-azul);
        margin: 0 auto; 
    }

    .tarjeta img, .tarjeta0 img, .tarjeta1 img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .basicos h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 10px;
        font-weight: bold;
        margin-right: 200px;
        margin-left: 0;
    }


    .descubrir h2  {
        align-self: flex-end;
        color: var(--color-azul);
        font-size: 10px;
        font-weight: bold;
        margin-right: 250px;
        margin-left: 0;
    }


    .tarjeta2 img, .tarjeta3 img, .tarjeta4 img {
        border-radius: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0em;
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .columna {
        font-size: 6px;
        margin-left: 0px;
    }

    .columna2 img {
        height: 10px;
        width: 10px;
    }

    .columna h2 {
        color: var(--color-negro);
        font-weight: bold;
        font-size: 8px;
        margin-bottom: 18px;
    }

    .columna1 {
        font-size: 6px;
        margin-left: 0px;
    }

    .columnas2 h2 {
        font-size: 8px;
        margin-left: 0px;
    }
}

